// Override Bulma variables

$widescreen-enabled: false;
$fullhd-enabled: false;
$button-focus-box-shadow-size: 0;
$family-sans-serif: "Source Sans Pro", sans-serif;

@import "../../gens/fonts";

@import "../../node_modules/bulma/bulma";

// Override Bulma classes

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.navbar-item {
    font-weight: 600;
}

.button {
    font-weight: 600;
}


// Component variables

.isAbsolute {
    position: absolute;
}

@import "PageSection";
@import "../../gens/components";
@import "index";