<!-- inject:font-link -->
link(rel="preload" href="/fonts/JosefinSans-Bold.ttf" as="font")
link(rel="preload" href="/fonts/MaterialIcons-Regular.woff2" as="font")
link(rel="preload" href="/fonts/SourceSansPro-Bold.ttf" as="font")
link(rel="preload" href="/fonts/SourceSansPro-Regular.ttf" as="font")
link(rel="preload" href="/fonts/SourceSansPro-SemiBold.ttf" as="font")
<!-- endinject -->

style.
  /* inject:font-face */
  @font-face {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/JosefinSans-Bold.ttf") format('truetype');
  }

  @font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/MaterialIcons-Regular.woff2") format('woff2');
  }

  @font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/SourceSansPro-Bold.ttf") format('truetype');
  }

  @font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/SourceSansPro-Regular.ttf") format('truetype');
  }

  @font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/SourceSansPro-SemiBold.ttf") format('truetype');
  }

  /* endinject */