extends ../_layout
block content
    section.hero.is-primary.Hero.is-medium
        .hero-body
            .container.Hero__container
                .Hero__text
                    h1.title.Hero__title Modern UI for Ansible
                    h2.subtitle.Hero__subtitle
                    | If your project has grown and deploying from the terminal is no longer for you, 
                    | then Ansible Semaphore is what you need.
                .Hero__image